@function hoge($a) {
  @if $a == 1 {
    color: #000;
  }
  @else if $a == 2 {
    color: #f00;
  }
  @else {
    color: #00f;
  }
}

.block {
  display: block;

  &__element {
    font-size: 1em;
  }

  &--modifier {
    color: #fc3;
  }
}
